*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', sans-serif;
    user-select: none;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #282828;
    position: relative;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.logo__text {
    font-size: 40px;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
}
.text__bg {
    background-color: #ff9100;
    margin-left: 5px;
    border-radius: 5px;
    padding: 0 10px;
    color: black;
}
.content{
    width: 100%;
    height: 100%;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
}